<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numeros Mega Sena</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h1>Gerador de Números Mega Sena</h1>
        <div class="user"></div>
    </header>
    <main>
        <div class="data">
            <label for="qtdJogos">Jogos</label>
            <input type="number" name="qtdJogos" id="qtdJogos" value= 1 >
            <label for="qtdNumbers">Numeros</label>
            <input type="number" name="qtdNumbers" id="qtdNumbers" value= 6 >
            <button class="start">Gerar Numeros</button>
            <button class="carregarNumeros">Carregar Numeros</button>
        </div>
        <div class="container">
            <ul>
                <!-- <li>
                    <div class="number">10</div>
                    <div class="number">14</div>
                    <div class="number">26</div>
                    <div class="number">28</div>
                    <div class="number">32</div>
                    <div class="number">55</div>
                </li> -->
            </ul>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="../index.js"></script>
</body>
</html>